/* Regular comment */
/*! Important stuff! */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'footer.css';

.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}

@media (min-resolution: 2dppx) {
    .image {
        background-image: url(../img/image@2x.png);
    }
}
